.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 22px;
}

.add form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-img-upload img {
  width: 140px;
}

.add-product-name, .add-product-description {
  width: max(50%, 300px);
}

.add-product-name input, .add-product-description textarea {
  padding: 12px;
  font-size: 16px;
}

.add-category-price {
  display: flex;
  gap: 30px;
}

.add-category-price select, .add-category-price input {
  max-width: 150px;
  padding: 12px;
  font-size: 16px;
}

.add-btn {
  max-width: 150px;
  border: none;
  padding: 12px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.add-btn:hover {
  background-color: #333;
}
